<mat-toolbar color="primary">
  <span >Quiz App</span>
  <!-- <button mat-button *ngIf="!authService.isLoggedIn" routerLink="portal/find-quiz">Find a quiz</button> -->
  <button mat-button routerLink="find-quiz">Find a quiz</button>
  <button mat-button routerLink="create-quiz">Create a new quiz</button>
  <button mat-button routerLink="display-quizzes">Show all quizzes</button>
  <button mat-button routerLink="/home/about">Home</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="/">Log out</button>
</mat-toolbar>


<router-outlet></router-outlet>