<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <p>Username</p>
    <input type="text" formControlName="username">
    <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
      You must fill out the username
    </div>
    <div *ngIf="loginForm.controls.username.errors?.minlength && loginForm.controls.username.touched">
      Username must be at least 3 characters
    </div>
  </div>

  <div>
    <p>Password</p>
    <input type="password" formControlName="password">
    <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      You must fill out the password
    </div>
  </div>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
  Dont do this. Disabling a button is ok but only with user feedback!
</form>