<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span >FindASitter</span>
  <button mat-button routerLink="about">About</button>
  <button mat-button routerLink="contact">Contact</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="login">Login</button>
</mat-toolbar>

<router-outlet></router-outlet> <!-- Defines where the content (active route/component should be) -->
